/*****************************************************************************************************************************/
/***                                        Variables présentes sur le site (couleurs)                                     ***/
/*****************************************************************************************************************************/

:root {
    --bg: #280E49;
    --txt: #fff;
    --prim_1: #A660A7;
    --prim_2: #3A8EC7;
    --prim_3: #ff4eb8;
    --hov_1: #4136A9;
    --images-fond: #140528;
    --footer: rgb(18, 8, 32);
    --bg_label : #3b3b3b;
    --shadow : rgba(0, 0, 0, .5);
    --span_b : rgba(255, 255, 255, .1);
}

/*****************************************************************************************************************************/
/***                                                 Polices d'écriture du site                                            ***/
/*****************************************************************************************************************************/

@font-face {
    font-family: inter;
    src: url("../font/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
    font-family: manga;
    src: url("../font/Manga.otf");
}

@font-face {
    font-family: anime;
    src: url("../font/animeace2_reg.ttf");
}


/*****************************************************************************************************************************/
/***                                                 Style de base du site                                                 ***/
/*****************************************************************************************************************************/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bg);
    overflow-x: hidden;
    color: var(--txt);
    font-family: "inter";
}

/*****************************************************************************************************************************/
/***                                      Style des différents titres présents sur le site                                 ***/
/*****************************************************************************************************************************/

h3 {
    font-family: anime;
    font-size: 1.5rem;
}

/*****************************************************************************************************************************/
/***                                                     Texte du site                                                     ***/
/*****************************************************************************************************************************/

.text {
    color: var(--blanc, #F0F0F0);
    margin-top: 0;
    margin: 0 auto;
    text-align: center;
    text-shadow: 11px 13px 12.7px rgba(0, 0, 0, 0.25);
    font-size: 5.3125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.texte_site {
    text-align: center;
    margin: 0 auto;
    margin-top: 5vh;
}

.color_ch {
    color: var(--prim_3);
}

/*****************************************************************************************************************************/
/***                                           Différents spans du titre du site                                           ***/
/*****************************************************************************************************************************/

.s_manga {
    color: var(--prim_1);
}

.s_monde {
    color: var(--prim_2);
}

/*****************************************************************************************************************************/
/***                                             Liens présents sur le site web                                            ***/
/*****************************************************************************************************************************/

a:any-link {
    color: var(--prim_3);
    text-decoration: none;
}

a:hover {
    color: var(--prim_1);
    transition: 0.2s;
}

.lien_menu:any-link {
    color: var(--txt);
    text-decoration: none;
}

.lien_menu:hover {
    color: var(--txt);
    text-decoration: none;
    transition: 0.2s;
}